body {
    background-color: black;
    color: white;
}


.title {
    color: blue;
}

#body-container {
    max-width: 700px;
   
}

.card {
    padding-top: 70px;
    border: none;
    background-color: black;
    color: white;
}

#instagram-wrapper {
    
    margin: 10px;

}

.navbar {
    background-color: black;
    
}